
body {
    font: "Concert One", sans-serif;
    
}

a {
    color: var(--bs-green);
}

h1 {
    color: #124118;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family:  "Concert One", sans-serif;
}

p {
    font-family:  'Segoe UI';
    font-size: 18px;
}

h2 {
    color: #124118;
    text-align: center;
    font-size: 20px;
    font-family:  "Concert One", sans-serif;
}

li {
    color: black;
    text-align: center;
}

.text-justified {
    text-align: justify;
}

.table {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    padding: 40px;
    text-align: center;

}


.table th {
    background-color: #124118;
    color: #f2f2f2;
    font-weight: bold;
}